@mixin default-dashboard-card($border-color) {
  width: 250px;
  height: 125px;
  margin: 25px;
  border: solid thin rgb(220, 220, 220);
  border-radius: 10px;
  border-left: solid thick $border-color;
  // box-shadow: 5px 5px 5px gray;
}

div,
body {
  box-sizing: border-box;
  margin: 0;
}

.shadow-medium {
  box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

.wrap-box {
  padding: 20px;
  padding-left: 60px;
  // padding-right: 50px;
}

.left-box {
  width: 300px;
  height: 100%;
  float: left;
  background-color: slateblue;
}

.dashboard-box {
  display: flex;
  justify-content: center;
}

.dashboard-card-mint {
  @include default-dashboard-card(rgb(32, 206, 177));
}
.dashboard-card-green {
  @include default-dashboard-card(green);
}
.dashboard-card-navy {
  @include default-dashboard-card(rgb(0, 48, 180));
}
.dashboard-card-yellow {
  @include default-dashboard-card(rgb(255, 208, 0));
}

.border-silver {
  border: solid thin rgb(220, 220, 220);
}

.middle-title-box {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(245, 245, 245);
  border-bottom: solid thin rgb(220, 220, 220);
}

.chart-box {
  padding: 25px;
}

.task-box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid thin rgb(220, 220, 220);
}

.task-layout-box {
}
