div,
body {
  box-sizing: border-box;
  margin: 0;
}

.shadow-medium {
  box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

.wrap-box {
  position: relative;
  padding-right: 20px;
  padding-left: 60px;
}

.focus-longed {
  transition: 1s;
}
.focus-longed:focus {
  width: 500px;
}

.left-list-box {
  position: fixed;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 100%;
  padding: 30px;
  padding-left: 15px;
  padding-right: 0;
  background-color: slateblue;
  color: white;
  justify-content: center;
  transition: 0.5s;
}
.left-list-box .left-box-text {
  position: relative;
  right: 150px;
  transition: 0.5s;
}
.left-list-box:hover {
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
.left-list-box:hover .left-box-text {
  position: relative;
  right: 0;
}

.nav-menu-button {
  display: none;
  padding-top: 10px;
}

.dashboard-box {
  display: flex;
  justify-content: center;
}

.dashboard-icon {
  position: absolute;
  right: 10px;
  top: 40px;
}

.dashboard-card-mint {
  position: relative;
  width: 20%;
  height: 125px;
  margin: 1%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  border: solid thin rgb(220, 220, 220);
  border-radius: 10px;
  border-left: solid thick rgb(32, 206, 177);
}
@media screen and (max-width: 768px) {
  .dashboard-card-mint {
    width: 90%;
    align-self: center;
  }
}

.dashboard-card-green {
  position: relative;
  width: 20%;
  height: 125px;
  margin: 1%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  border: solid thin rgb(220, 220, 220);
  border-radius: 10px;
  border-left: solid thick green;
}
@media screen and (max-width: 768px) {
  .dashboard-card-green {
    width: 90%;
    align-self: center;
  }
}

.dashboard-card-navy {
  position: relative;
  width: 20%;
  height: 125px;
  margin: 1%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  border: solid thin rgb(220, 220, 220);
  border-radius: 10px;
  border-left: solid thick rgb(0, 48, 180);
}
@media screen and (max-width: 768px) {
  .dashboard-card-navy {
    width: 90%;
    align-self: center;
  }
}

.dashboard-card-yellow {
  position: relative;
  width: 20%;
  height: 125px;
  margin: 1%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  border: solid thin rgb(220, 220, 220);
  border-radius: 10px;
  border-left: solid thick rgb(255, 208, 0);
}
@media screen and (max-width: 768px) {
  .dashboard-card-yellow {
    width: 90%;
    align-self: center;
  }
}

.border-silver {
  border: solid thin rgb(220, 220, 220);
}

.middle-title-box {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(245, 245, 245);
  border-bottom: solid thin rgb(220, 220, 220);
}

.left-box-menu {
  display: flex;
  align-items: center;
}

.chart-box {
  padding: 25px;
}

.task-box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid thin rgb(220, 220, 220);
}

@keyframes left-box-text-moving {
  0% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(0);
  }
}
@media screen and (max-width: 768px) {
  .focus-longed {
    transition: 1s;
  }
  .focus-longed:focus {
    width: 300px;
  }
  .nav-right-box {
    display: none;
  }
  .nav-menu-button {
    display: block;
  }
}/*# sourceMappingURL=admin_page.css.map */