body,
div {
  box-sizing: border-box;
  margin: 0;
}

.summary-left-box {
  display: flex;
  padding: 30px;
}

.summary-info-box {
  flex-direction: column;
}

.summary-location-box {
  display: flex;
  color: #6fbaf8; 
}

.location-icon {
  position: relative;
  top: 4px;
}

.profile-img {
  border-radius: 100px;
}

.profile-container {
  padding: 25px;
}

.main-box {
  max-width: 1200px;
  background-color: white;  
}

.contact-btn {
  background-color: #6fbaf8;
  border-color: #6fbaf8;
  width: 120px;
  margin-top: 10px;
}

.right-box-titles {
  display: flex;
  flex-direction: column;
  width: 150px;
  
}

.right-box-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-right-box {
  display: flex;
  padding: 25px;
  padding-right: 0;
  align-items: center;
}

.col-line {
  border-left: thin solid #ececec;
  margin: 0;
  width: 0;
  padding: 0;
}

.summary-box {
  padding: 30px;
  background-color: white;
}

.right-box-title {
  margin-top: 25px;
}

.profile-underlined {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #6fbaf8;
  border-bottom: solid #6fbaf8;
}

.works-box {
  background-color: white;
}

.about-skill-wrap {
  background-color: white;
}

.skills-box {
  border-top: thin solid #ececec;
  padding-top: 15px;
  padding-bottom: 15px;
}

.profile-underline {
  border-bottom: solid
}

.profile-bar {
  display: flex;
}

.empty-underlined {
  width: 100%;
  border-bottom: solid #ececec;
}

.main-detail-box {
  display: flex;
  flex-direction: column;
}


