$메인컬러: #eeee;
$default-size: 16px;
$abc-size: 16px;
$my-size: $default-size + $abc-size;

.box {
  width: 100%;
  background-color: $메인컬러;
  font-size: $my-size;
}

.tremble-btn {
  padding: 10px;
  background-color: #86acff;
  color: white;
  border: thin;
  &:hover {
    animation-name: tremble;
    animation-duration: 0.3s;
    background-color: #4f74c2;
  }
}

.rotate-plus-btn {
  border: none;
  background-color: white;
  padding: 0;
  font-size: 100px;
  font-weight: bolder;
  &:hover {
    animation-name: rotate-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: 150px;
    transition: 1s;
  }
}

.black-box {
  position: relative;
  width: 500px;
  height: 1000px;
  background-color: black;
  right: 300px;
  &:hover {
    right: 0px;
    transition: 1s;
  }

  // &:not(:hover) {
  //   right: 300px;
  //   transition: 1s;
  // }
}

.menu-text,
.item-text {
  position: absolute;
}

@keyframes tremble {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-zoom {
  0% {
    // transform: scale(1);
    transform: rotate(0deg);
  }
  25% {
    // transform: scale(1);
    transform: rotate(-10deg);
  }
  // 66% {
  //   // transform: scale(1.2);
  //   transform: rotate(20deg);
  // }
  100% {
    // transform: scale(1);
    transform: rotate(45deg);
  }
}

@keyframes menu-moving {
  0% {
    float: right;
  }
}
