a:link {
  color: gray;
}

a:visited {
  color: gray;
}

.container {
  width: 800px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: gray; */
}

.left-box {
  width: 80%;
  height: 100%;
  /* background-color: aquamarine; */
  float: left;
}

.right-box {
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
  float: left;
}

.title-box {
  width: 100%;
  height: 30%;
  /* padding-top: auto;
  padding-bottom: auto; */
  float: left;
  /* background-color: bisque; */
}

.content-box {
  /* width: 100%; */
  /* height: 70%; */
  /* float: left; */
  /* background-color: beige; */
  clear: both;
}

.title-text {
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-bottom: -10px;
}

/* 공백: ~안에있는 모든 자식, >: ~안에있는 직계자식만 */
nav {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.navbar {
  padding-left: 0px;
}


.navbar li {
  display: inline-block;
/*  padding-left: 10px;*/
    
}

.navbar > li > a {
  font-size: 16px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  float: left;
  text-align: center;
  margin: 5px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  
}
